@{
    ViewBag.Title = "Home Page";
}

    <center>
        <div>
            <input type="button" value="Ingresar Inmueble" onclick="document.location.href='@Url.Content("~/Inmueble/Nuevo")'"></br>
            <input type="button" value="Ingresar Propietario" onclick="document.location.href='@Url.Content("~/Propietario/Nuevo")'">
            <input type="button" value="Ingresar Inquilino" onclick="document.location.href='@Url.Content("~/Inquilino/Nuevo")'"></br>

            <input type="button" value="Buscar Inmueble" onclick="document.location.href='@Url.Content("~/Propietario/Nuevo")'">
            <input type="button" value="Contrato nuevo" onclick="document.location.href='@Url.Content("~/Propietario/Nuevo")'"></br>
            <input type="button" value="Rescindir Contrato" onclick="document.location.href='@Url.Content("~/Propietario/Nuevo")'">
            <input type="button" value="Renovar Contrato" onclick="document.location.href='@Url.Content("~/Propietario/Nuevo")'"></br>



            <input type="button" value="Propiedades Disponibles +Dueño" onclick="document.location.href='@Url.Content("~/Propietario/Nuevo")'">
            <input type="button" value="Propiedades por Dueño" onclick="document.location.href='@Url.Content("~/Propietario/Nuevo")'"></br>
            <input type="button" value="Alquileres vigentes" onclick="document.location.href='@Url.Content("~/Propietario/Nuevo")'">
            <input type="button" value="Contratos+ Inquilinos por inmueble dado" onclick="document.location.href='@Url.Content("~/Propietario/Nuevo")'"></br>
            <input type="button" value="Pagar alquiler" onclick="document.location.href='@Url.Content("~/Propietario/Nuevo")'">
        </div>
    </center>